<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usagers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">

        <h1>Usagers</h1>

        <form method="POST" id="usagerForm"></form>
        <form th:each="usager: ${usagers}" th:method="delete" th:id="'deleteForm' + ${usager.id}"></form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usager: ${usagers}">
                    <td th:text="${usager.nom}"></td>
                    <td th:text="${usager.prenom}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Ėditer">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </td>
                    <td>
                        <button type="submit" th:form="'deleteForm' + ${usager.id}" class="btn btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Supprimer">
                            <i class="bi bi-trash"></i>
                        </button>
                        <input type="hidden" name="usagerId" th:value="${usager.id}" th:form="'deleteForm' + ${usager.id}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="form-control" type="text" name="nom" form="usagerForm"/>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="prenom" form="usagerForm"/>
                    </td>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary mx-auto" form="usagerForm">Ajouter</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
</html>